html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

input, textarea, select, button {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

html, body {
  width: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%; }

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit; }

body {
  color: #2F3738;
  font-family: "Lato", sans-serif, Helvetica; }

.background-document {
  position: absolute;
  width: 100%;
  z-index: -1;
  background: #9FBCBF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom, #9FBCBF, #647678);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #9FBCBF, #647678);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #9FBCBF, #647678);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #9FBCBF, #647678);
  /* Standard syntax */
  background: #647678;
  background: #9FBCBF; }
  .background-document img {
    height: 100%;
    opacity: 0.6; }
  .background-document canvas {
    opacity: 0.8; }

.big-letter {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  transform: translate(-25%, -25%);
  opacity: 0.9;
  color: #39f; }

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pulsing {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes pulsing {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes pulsing {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
.box-pulsing {
  -webkit-animation: pulsing 15s infinite none;
  -moz-animation: pulsing 15s infinite none;
  -o-animation: pulsing 15s infinite none;
  animation: pulsing 15s infinite none; }

.box-3d-light {
  box-shadow: 1px 1px 0 #cccccc, 2px 2px 0 #c9c9c9, 3px 3px 0 #bbbbbb, 4px 4px 0 #b9b9b9, 5px 5px 0 #aaaaaa, 6px 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.3), 3px 3px 5px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.25), 10px 10px 10px rgba(0, 0, 0, 0.2), 20px 20px 20px rgba(0, 0, 0, 0.15); }

.box-shadow--default {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6); }

.box-shadow--around {
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3); }

.box-shadow--emboss {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 2px rgba(255, 255, 255, 0.5); }

.box-shadow--cover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -1px -1px 3px rgba(0, 0, 0, 0.6), -2px -2px 2px rgba(255, 255, 255, 0.8); }

.box-shadow--top {
  box-shadow: 0 -3px 6px 2px #2F3738; }

.box-shadow--bottom {
  box-shadow: 0 1px 7px 5px #2F3738; }

.centered {
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  text-align: center; }

.centered--lower {
  position: absolute;
  bottom: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }

.centered-vertically {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  transform: translate(0, 50%); }

.centered-horizontally {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.display-inline-block {
  display: inline-block; }

.display-flex {
  display: -webkit-flex;
  display: flex;
  align-items: unset;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  flex-flow: row wrap; }

.display-flex--center {
  justify-content: center;
  align-items: center; }

.flex-item-1 {
  flex-basis: 100%; }

.flex-item-2 {
  flex-basis: 50%; }

.flex-item-3 {
  flex-basis: 33.33333%; }

.flex-item-4 {
  flex-basis: 25%; }

.flex-item-5 {
  flex-basis: 20%; }

.flex-item-6 {
  flex-basis: 16.66667%; }

.flex-item-7 {
  flex-basis: 14.28571%; }

.flex-item-8 {
  flex-basis: 12.5%; }

.flex-item-9 {
  flex-basis: 11.11111%; }

.flex-item-10 {
  flex-basis: 10%; }

.flex-item-11 {
  flex-basis: 9.09091%; }

.flex-item-12 {
  flex-basis: 8.33333%; }

@media screen and (max-width: 767px) {
  .flex-item-xs-1 {
    flex-basis: 100%; } }

@media screen and (max-width: 767px) {
  .flex-item-xs-2 {
    flex-basis: 50%; } }

@media screen and (max-width: 767px) {
  .flex-item-xs-3 {
    flex-basis: 33.33333%; } }

@media screen and (max-width: 767px) {
  .flex-item-xs-4 {
    flex-basis: 25%; } }

.flex-item--margin {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }
  @media screen and (max-width: 767px) {
    .flex-item--margin {
      margin-top: 10px !important;
      margin-bottom: 10px !important; } }

.first-letter-color::first-letter {
  color: #59D8E5; }

.first-letter-big-color::first-letter {
  font-size: 200%;
  color: #59D8E5;
  vertical-align: sub; }

.fixed {
  position: fixed; }

.font-l {
  font-size: 22px; }
  @media (max-width: 1199px) {
    .font-l {
      font-size: 20.5px; } }
  @media (max-width: 991px) {
    .font-l {
      font-size: 19px; } }
  @media screen and (max-width: 767px) {
    .font-l {
      font-size: 17.5px; } }
  @media screen and (max-width: 459px) {
    .font-l {
      font-size: 16px; } }

.full-width {
  width: 100%;
  max-width: none; }

.heading {
  position: relative;
  font-size: 22px;
  margin-bottom: 15px; }
  @media (max-width: 1199px) {
    .heading {
      font-size: 20.5px; } }
  @media (max-width: 991px) {
    .heading {
      font-size: 19px; } }
  @media screen and (max-width: 767px) {
    .heading {
      font-size: 17.5px; } }
  @media screen and (max-width: 459px) {
    .heading {
      font-size: 16px; } }

.heading--lg {
  font-size: 30px; }
  @media (max-width: 1199px) {
    .heading--lg {
      font-size: 27.5px; } }
  @media (max-width: 991px) {
    .heading--lg {
      font-size: 25px; } }
  @media screen and (max-width: 767px) {
    .heading--lg {
      font-size: 22.5px; } }
  @media screen and (max-width: 459px) {
    .heading--lg {
      font-size: 20px; } }

.heading--md {
  font-size: 22px; }
  @media (max-width: 1199px) {
    .heading--md {
      font-size: 20px; } }
  @media (max-width: 991px) {
    .heading--md {
      font-size: 18px; } }
  @media screen and (max-width: 767px) {
    .heading--md {
      font-size: 16px; } }
  @media screen and (max-width: 459px) {
    .heading--md {
      font-size: 14px; } }

.heading--sm {
  font-size: 18px; }
  @media (max-width: 1199px) {
    .heading--sm {
      font-size: 16.5px; } }
  @media (max-width: 991px) {
    .heading--sm {
      font-size: 15px; } }
  @media screen and (max-width: 767px) {
    .heading--sm {
      font-size: 13.5px; } }
  @media screen and (max-width: 459px) {
    .heading--sm {
      font-size: 12px; } }

.heading--main {
  font-family: "Spectral SC", serif, Helvetica;
  font-weight: bold;
  font-size: 30px; }
  @media (max-width: 1199px) {
    .heading--main {
      font-size: 27px; } }
  @media (max-width: 991px) {
    .heading--main {
      font-size: 24px; } }
  @media screen and (max-width: 767px) {
    .heading--main {
      font-size: 21px; } }
  @media screen and (max-width: 459px) {
    .heading--main {
      font-size: 18px; } }
  @media screen and (max-width: 767px) {
    .heading--main {
      margin-bottom: 20px; } }

.heading--date {
  font-weight: bold; }

.heading--additional {
  font-style: italic; }

.heading--font {
  font-family: "Spectral SC", serif, Helvetica;
  font-weight: bold; }

.img-container {
  width: 50%;
  height: 50%;
  margin: 0 0 auto auto;
  filter: opacity(0.3); }

.inline {
  display: inline; }

.left-margin-text {
  margin: 10px 0 10px 50px; }

.letter-spacing-1 {
  letter-spacing: 1px; }

.list-pointed li {
  margin: 7px 0;
  text-indent: -18px; }
.list-pointed li::before {
  content: '';
  border: 5px solid #59D8E5;
  border-radius: 10px;
  font-size: 0px;
  vertical-align: bottom;
  margin-right: 8px; }

.no-transform {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  transform: none !important; }

.position-relative {
  position: relative; }

.text-3d-light {
  text-shadow: 0px 1px 0 #cccccc, 0px 2px 0 #c9c9c9, 0px 3px 0 #bbbbbb, 0px 4px 0 #b9b9b9, 0px 5px 0 #aaaaaa, 0px 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 20px rgba(0, 0, 0, 0.15); }

.text-bigger {
  font-size: 1.2em; }

.text-bold {
  font-weight: bold; }

.text-bulge {
  text-shadow: -1px -1px 0px rgba(180, 180, 180, 0.8), 3px 3px 0px rgba(0, 0, 0, 0.8); }

.text-color-1 {
  color: #D5FBFF; }

.text-color-2 {
  color: #cbe7ea; }

.text-color-3 {
  color: #647678; }

.text-color-4 {
  color: #2F3738; }

.text-color-5 {
  color: #59D8E5; }

.text-italic {
  font-style: italic; }

.text-uppercase {
  text-transform: uppercase; }

.opacity0 {
  opacity: 0; }

.standard-content {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0; }
  @media screen and (max-width: 767px) {
    .standard-content {
      padding-bottom: 20px; } }

.text-centered {
  text-align: center; }

.viewport-height {
  height: 100vh; }

.width-min-content {
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content; }

.width-max-content {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content; }

.text-full-width-center {
  width: 100%;
  text-align: center; }

.z-index-1 {
  position: relative;
  z-index: 1; }

/* ********************************************************************************************* */
/* ********************************************************************************************* */
/* ********************************************************************************************* */
.bottom-shadow, .top-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0px 0px 60px 20px black; }

.top-shadow {
  box-shadow: 0px 0px 60px 20px #0c0e0e;
  bottom: auto;
  top: 0; }

.button {
  padding: 10px 14px;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  outline: none;
  cursor: pointer; }

.button--standard {
  background: #16838f;
  margin: 0 10px;
  cursor: pointer; }
  .button--standard:hover {
    background: #136f79; }
  .button--standard:active {
    background: #0f5b63; }

.header {
  font-family: "Spectral SC", serif, Helvetica;
  font-weight: bold;
  position: relative;
  width: 100%;
  overflow: hidden; }

.header--colored {
  background: #0c1010; }

.header__title {
  color: #D5FBFF;
  font-size: 80px;
  pointer-events: none;
  width: 100%;
  text-align: center; }
  @media (max-width: 1199px) {
    .header__title {
      font-size: 67.5px; } }
  @media (max-width: 991px) {
    .header__title {
      font-size: 55px; } }
  @media screen and (max-width: 767px) {
    .header__title {
      font-size: 42.5px; } }
  @media screen and (max-width: 459px) {
    .header__title {
      font-size: 30px; } }

@media screen and (max-width: 767px) {
  .centered--xs-higher {
    bottom: 55%; } }

.header__title--scrolled {
  width: auto;
  color: #2F3738;
  font-size: 16px;
  text-shadow: none;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  padding: 20px;
  z-index: 10;
  pointer-events: auto;
  cursor: pointer; }
  @media (max-width: 1199px) {
    .header__title--scrolled {
      font-size: 15.5px; } }
  @media (max-width: 991px) {
    .header__title--scrolled {
      font-size: 15px; } }
  @media screen and (max-width: 767px) {
    .header__title--scrolled {
      font-size: 14.5px; } }
  @media screen and (max-width: 459px) {
    .header__title--scrolled {
      font-size: 14px; } }
  .header__title--scrolled * {
    cursor: pointer; }
  .header__title--scrolled .bouncing-letter {
    color: #2F3738; }
  .header__title--scrolled:hover {
    letter-spacing: 1px;
    left: -6px;
    -webkit-transition: all 300ms ease-out, all 300ms ease-out;
    -moz-transition: all 300ms ease-out, all 300ms ease-out;
    -o-transition: all 300ms ease-out, all 300ms ease-out;
    transition: all 300ms ease-out, all 300ms ease-out; }

.header__subtitle {
  color: #D5FBFF;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  font-size: 40px;
  -webkit-transition: opacity 1000ms ease-in, opacity 1000ms ease-in;
  -moz-transition: opacity 1000ms ease-in, opacity 1000ms ease-in;
  -o-transition: opacity 1000ms ease-in, opacity 1000ms ease-in;
  transition: opacity 1000ms ease-in, opacity 1000ms ease-in; }
  @media (max-width: 1199px) {
    .header__subtitle {
      font-size: 34.5px; } }
  @media (max-width: 991px) {
    .header__subtitle {
      font-size: 29px; } }
  @media screen and (max-width: 767px) {
    .header__subtitle {
      font-size: 23.5px; } }
  @media screen and (max-width: 459px) {
    .header__subtitle {
      font-size: 18px; } }

.nav {
  font-family: "Spectral SC", serif, Helvetica;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; }

.nav--default {
  width: 100%;
  background: #D5FBFF;
  -webkit-transition: all 300ms ease-out, all 300ms ease-out;
  -moz-transition: all 300ms ease-out, all 300ms ease-out;
  -o-transition: all 300ms ease-out, all 300ms ease-out;
  transition: all 300ms ease-out, all 300ms ease-out; }
  .nav--default .list {
    float: right; }
    @media screen and (max-width: 767px) {
      .nav--default .list {
        height: 0;
        float: none;
        -webkit-transition: height 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55), height 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
        -moz-transition: height 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55), height 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
        -o-transition: height 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55), height 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
        transition: height 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55), height 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
        overflow: hidden; } }
  .nav--default .list__item {
    display: inline-block;
    font-size: 20.8px;
    padding: 25px;
    margin: 0 -2px;
    -webkit-transition: all 300ms ease-out, height 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
    -moz-transition: all 300ms ease-out, height 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
    -o-transition: all 300ms ease-out, height 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
    transition: all 300ms ease-out, height 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
    cursor: pointer; }
    @media (max-width: 1199px) {
      .nav--default .list__item {
        font-size: 19.1px; } }
    @media (max-width: 991px) {
      .nav--default .list__item {
        font-size: 17.4px; } }
    @media screen and (max-width: 767px) {
      .nav--default .list__item {
        font-size: 15.7px; } }
    @media screen and (max-width: 459px) {
      .nav--default .list__item {
        font-size: 14px; } }
    .nav--default .list__item:hover {
      background: #59D8E5; }
    @media (max-width: 991px) {
      .nav--default .list__item {
        padding-left: 10px !important;
        padding-right: 10px !important; } }
    @media screen and (max-width: 767px) {
      .nav--default .list__item {
        display: block;
        font-size: 16px;
        padding: 20px;
        text-align: center; } }
  @media screen and (max-width: 767px) and (max-width: 1199px) {
    .nav--default .list__item {
      font-size: 15.5px; } }
  @media screen and (max-width: 767px) and (max-width: 991px) {
    .nav--default .list__item {
      font-size: 15px; } }
  @media screen and (max-width: 767px) and (max-width: 767px) {
    .nav--default .list__item {
      font-size: 14.5px; } }
  @media screen and (max-width: 767px) and (max-width: 459px) {
    .nav--default .list__item {
      font-size: 14px; } }

.nav--left {
  width: 5%;
  min-width: 50px;
  max-width: 60px;
  text-align: center; }
  .nav--left .list {
    background: #D5FBFF;
    opacity: 0.9;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4); }
  .nav--left .list__item {
    display: block;
    margin: -1px 0;
    padding: 25px 15px;
    -webkit-transition: all 300ms ease-out, all 300ms ease-out;
    -moz-transition: all 300ms ease-out, all 300ms ease-out;
    -o-transition: all 300ms ease-out, all 300ms ease-out;
    transition: all 300ms ease-out, all 300ms ease-out;
    cursor: pointer; }
    .nav--left .list__item:hover {
      background: #59D8E5; }
    @media screen and (max-width: 767px) {
      .nav--left .list__item {
        padding: 25px 5px; } }
  @media screen and (max-width: 767px) {
    .nav--left {
      min-width: 30px; } }

.nav--scrolled {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  opacity: 0.9; }
  .nav--scrolled .list__item {
    font-size: 16px;
    padding: 20px; }
    @media (max-width: 1199px) {
      .nav--scrolled .list__item {
        font-size: 15.5px; } }
    @media (max-width: 991px) {
      .nav--scrolled .list__item {
        font-size: 15px; } }
    @media screen and (max-width: 767px) {
      .nav--scrolled .list__item {
        font-size: 14.5px; } }
    @media screen and (max-width: 459px) {
      .nav--scrolled .list__item {
        font-size: 14px; } }

.nav__button {
  padding: 14px; }

.nav__button--xs {
  display: none; }
  @media screen and (max-width: 767px) {
    .nav__button--xs {
      display: block;
      margin: 0 0 auto auto; } }

.hamburger-bar {
  display: block;
  pointer-events: none;
  width: 22px;
  height: 0;
  border: 1px solid #2F3738;
  border-radius: 1px;
  margin: 4px 0;
  -webkit-transition: all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55), all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
  -moz-transition: all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55), all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
  -o-transition: all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55), all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
  transition: all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55), all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55); }

.li-big {
  margin-top: 30px; }
  @media screen and (max-width: 767px) {
    .li-big {
      margin-top: 20px; } }

.nav__button--unwrapped .hamburger-bar:first-of-type {
  -webkit-transform: rotate(-135deg) translate(-4.24px, -4.24px);
  -moz-transform: rotate(-135deg) translate(-4.24px, -4.24px);
  -o-transform: rotate(-135deg) translate(-4.24px, -4.24px);
  transform: rotate(-135deg) translate(-4.24px, -4.24px); }
.nav__button--unwrapped .hamburger-bar:nth-of-type(2) {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }
.nav__button--unwrapped .hamburger-bar:last-of-type {
  -webkit-transform: rotate(135deg) translate(-4.24px, 4.24px);
  -moz-transform: rotate(135deg) translate(-4.24px, 4.24px);
  -o-transform: rotate(135deg) translate(-4.24px, 4.24px);
  transform: rotate(135deg) translate(-4.24px, 4.24px); }

.main {
  margin: 0 auto;
  width: 100%;
  max-width: none;
  position: relative; }

.section {
  width: 80%;
  max-width: 1280px;
  margin: 15% auto 15%; }

.section--last {
  margin-bottom: 40px; }

.section__h {
  font-family: "Spectral SC", serif, Helvetica;
  font-weight: bold;
  margin-top: -7%;
  padding: 0 30px 20px 0;
  font-size: 30px;
  float: left; }
  @media (max-width: 1199px) {
    .section__h {
      font-size: 27px; } }
  @media (max-width: 991px) {
    .section__h {
      font-size: 24px; } }
  @media screen and (max-width: 767px) {
    .section__h {
      font-size: 21px; } }
  @media screen and (max-width: 459px) {
    .section__h {
      font-size: 18px; } }

.section__h--reversed {
  padding: 0 0 20px 30px;
  float: right; }

.section__h-fill {
  background: #D5FBFF;
  padding: 40px 60px; }
  @media screen and (max-width: 767px) {
    .section__h-fill {
      padding: 20px 40px; } }

.section__content {
  width: 87%;
  margin: 10% 0 auto auto;
  padding: 3%;
  background: -moz-radial-gradient(center, circle cover, #2F3738 0%, #181c1c 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2F3738), color-stop(100%, #181c1c));
  background: -webkit-radial-gradient(center, circle cover, #2F3738 0%, #181c1c 100%);
  background: -o-radial-gradient(center, circle cover, #2F3738 0%, #181c1c 100%);
  background: -ms-radial-gradient(center, circle cover, #2F3738 0%, #181c1c 100%);
  background: radial-gradient(center, circle cover, #2F3738 0%, #181c1c 100%);
  background-color: #2F3738;
  color: #D5FBFF;
  line-height: 1.5em;
  font-size: 20px; }
  @media (max-width: 1199px) {
    .section__content {
      font-size: 18px; } }
  @media (max-width: 991px) {
    .section__content {
      font-size: 16px; } }
  @media screen and (max-width: 767px) {
    .section__content {
      font-size: 14px; } }
  @media screen and (max-width: 459px) {
    .section__content {
      font-size: 12px; } }

.section__content--reversed {
  margin: 10% auto auto 0; }

.section__content--projects > div:nth-of-type(even) {
  flex-direction: row-reverse; }

.section--contact {
  position: relative;
  width: 100%;
  background: -moz-radial-gradient(center, circle cover, #2F3738 0%, #181c1c 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2F3738), color-stop(100%, #181c1c));
  background: -webkit-radial-gradient(center, circle cover, #2F3738 0%, #181c1c 100%);
  background: -o-radial-gradient(center, circle cover, #2F3738 0%, #181c1c 100%);
  background: -ms-radial-gradient(center, circle cover, #2F3738 0%, #181c1c 100%);
  background: radial-gradient(center, circle cover, #2F3738 0%, #181c1c 100%);
  background-color: #2F3738;
  color: #D5FBFF;
  overflow-y: hidden; }

.footer {
  color: #647678;
  text-align: center; }

.h-over-content {
  margin-bottom: -70px; }

.content-below-h {
  padding-top: 70px;
  line-height: 1.5; }
  @media screen and (max-width: 767px) {
    .content-below-h {
      padding-top: 50px; } }

.content__p {
  padding: 0.4em 0 0.6em 0; }

.content__p--heading {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1px; }

.content__p--answer {
  font-size: 1.3em; }

.project {
  width: 100%;
  margin: 40px auto; }

.project__heading, .project__subheading {
  font-size: 24px;
  color: #59D8E5;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px 0; }
  @media (max-width: 1199px) {
    .project__heading, .project__subheading {
      font-size: 21.5px; } }
  @media (max-width: 991px) {
    .project__heading, .project__subheading {
      font-size: 19px; } }
  @media screen and (max-width: 767px) {
    .project__heading, .project__subheading {
      font-size: 16.5px; } }
  @media screen and (max-width: 459px) {
    .project__heading, .project__subheading {
      font-size: 14px; } }
  @media screen and (max-width: 767px) {
    .project__heading, .project__subheading {
      margin: 10px 0; } }

.project__subheading {
  font-weight: normal;
  letter-spacing: 0px;
  font-size: 20px; }
  @media (max-width: 1199px) {
    .project__subheading {
      font-size: 18.25px; } }
  @media (max-width: 991px) {
    .project__subheading {
      font-size: 16.5px; } }
  @media screen and (max-width: 767px) {
    .project__subheading {
      font-size: 14.75px; } }
  @media screen and (max-width: 459px) {
    .project__subheading {
      font-size: 13px; } }

.project__photo {
  cursor: pointer;
  -webkit-transition: all 300ms ease-out, all 300ms ease-out;
  -moz-transition: all 300ms ease-out, all 300ms ease-out;
  -o-transition: all 300ms ease-out, all 300ms ease-out;
  transition: all 300ms ease-out, all 300ms ease-out; }
  @media screen and (min-width: 768px) {
    .project__photo {
      width: 40%;
      filter: saturate(0.4); }
      .project__photo:hover {
        filter: saturate(1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3); }
      .project__photo:active {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05); } }
  @media screen and (max-width: 767px) {
    .project__photo {
      width: 100%;
      max-width: 300px; } }

.project__content {
  margin: 0 3%;
  max-width: 54%; }
  @media screen and (max-width: 767px) {
    .project__content {
      max-width: none; } }

.form {
  font-family: "Lato", sans-serif, Helvetica;
  margin: 0 auto;
  max-width: 500px;
  position: relative; }

.form--left {
  width: 50%;
  min-width: 250px; }

.form__input, .form__textarea {
  font-family: "Lato", sans-serif, Helvetica;
  padding: 8px;
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  margin: 8px auto 20px;
  border-radius: 3px;
  border: none;
  border: 1px solid #cbe7ea;
  display: block; }

.form__textarea {
  line-height: 1.5em; }

.form__label {
  font-size: 16px; }
  @media (max-width: 1199px) {
    .form__label {
      font-size: 15px; } }
  @media (max-width: 991px) {
    .form__label {
      font-size: 14px; } }
  @media screen and (max-width: 767px) {
    .form__label {
      font-size: 13px; } }
  @media screen and (max-width: 459px) {
    .form__label {
      font-size: 12px; } }

.form__button {
  margin: 0 auto;
  background: #D5FBFF;
  color: #2F3738;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer; }
  .form__button:hover {
    background: #cbe7ea; }
  .form__button:active {
    background: #647678; }

.form__button--disabled {
  background: #ddd !important;
  background: #647678 !important;
  cursor: not-allowed !important; }

.envelope {
  position: relative;
  margin: 0 30%;
  width: 40%;
  max-width: 150px; }
  @media screen and (max-width: 767px) {
    .envelope {
      margin: 0 auto; } }

#envelope-top {
  width: 96%;
  margin: 0 2%;
  transform-origin: 0 100%;
  -webkit-transition: all 500ms ease-out, all 500ms ease-out;
  -moz-transition: all 500ms ease-out, all 500ms ease-out;
  -o-transition: all 500ms ease-out, all 500ms ease-out;
  transition: all 500ms ease-out, all 500ms ease-out; }

.closed-envelope {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg); }

.thrown-envelope {
  -webkit-transition: all 500ms ease-in-out, all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out, all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out, all 500ms ease-in-out;
  transition: all 500ms ease-in-out, all 500ms ease-in-out;
  -webkit-transform: scale(0) translate(50vw, 10vh);
  -moz-transform: scale(0) translate(50vw, 10vh);
  -o-transform: scale(0) translate(50vw, 10vh);
  transform: scale(0) translate(50vw, 10vh); }

#envelope-info {
  text-align: center;
  margin: 20px auto;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 22px;
  width: 80%; }
  @media (max-width: 1199px) {
    #envelope-info {
      font-size: 20.5px; } }
  @media (max-width: 991px) {
    #envelope-info {
      font-size: 19px; } }
  @media screen and (max-width: 767px) {
    #envelope-info {
      font-size: 17.5px; } }
  @media screen and (max-width: 459px) {
    #envelope-info {
      font-size: 16px; } }
  @media screen and (max-width: 767px) {
    #envelope-info {
      width: 100%; } }

.form-input-warning {
  font-size: 14px;
  color: #f97254; }
  @media (max-width: 1199px) {
    .form-input-warning {
      font-size: 13.5px; } }
  @media (max-width: 991px) {
    .form-input-warning {
      font-size: 13px; } }
  @media screen and (max-width: 767px) {
    .form-input-warning {
      font-size: 12.5px; } }
  @media screen and (max-width: 459px) {
    .form-input-warning {
      font-size: 12px; } }
  @media screen and (max-width: 767px) {
    .form-input-warning {
      margin-left: 0;
      text-align: center; } }

.mail-ok-box {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 30px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.mail-ok-box--fullsize {
  -webkit-transition: all 600ms cubic-bezier(0.64, 0.53, 0.27, 1.55), all 600ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.64, 0.53, 0.27, 1.55), all 600ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
  -o-transition: all 600ms cubic-bezier(0.64, 0.53, 0.27, 1.55), all 600ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
  transition: all 600ms cubic-bezier(0.64, 0.53, 0.27, 1.55), all 600ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  transform: none !important; }

#cv-img > img {
  -webkit-transition: all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55), all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
  -moz-transition: all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55), all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
  -o-transition: all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55), all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
  transition: all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55), all 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55); }

.img-rotate360 {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg); }

#cv-lang-box {
  position: absolute;
  width: 0;
  font-size: 0;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 300ms ease-out, width 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
  -moz-transition: all 300ms ease-out, width 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
  -o-transition: all 300ms ease-out, width 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
  transition: all 300ms ease-out, width 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55); }
  #cv-lang-box .list {
    display: table; }
  #cv-lang-box .list__item {
    font-size: 16px;
    -webkit-transition: all 300ms ease-out, width 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
    -moz-transition: all 300ms ease-out, width 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
    -o-transition: all 300ms ease-out, width 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
    transition: all 300ms ease-out, width 400ms cubic-bezier(0.64, 0.53, 0.27, 1.55);
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle; }
    @media (max-width: 1199px) {
      #cv-lang-box .list__item {
        font-size: 15px; } }
    @media (max-width: 991px) {
      #cv-lang-box .list__item {
        font-size: 14px; } }
    @media screen and (max-width: 767px) {
      #cv-lang-box .list__item {
        font-size: 13px; } }
    @media screen and (max-width: 459px) {
      #cv-lang-box .list__item {
        font-size: 12px; } }

@media screen and (max-width: 767px) {
  .body-disable-scroll-on-xs {
    overflow: hidden;
    height: 100%; } }

.click-to-scroll {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1000ms ease-in, opacity 1000ms ease-in;
  -moz-transition: opacity 1000ms ease-in, opacity 1000ms ease-in;
  -o-transition: opacity 1000ms ease-in, opacity 1000ms ease-in;
  transition: opacity 1000ms ease-in, opacity 1000ms ease-in;
  width: 34px;
  height: 50px;
  background-image: url(../img/arrow-down.png);
  background-size: 100%;
  bottom: 15%;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
  .click-to-scroll:hover {
    filter: brightness(0.8); }
  .click-to-scroll:active {
    filter: brightness(0.5); }

.visible-xs-only {
  visibility: hidden;
  opacity: 0; }
  @media screen and (max-width: 767px) {
    .visible-xs-only {
      visibility: visible;
      opacity: 1; } }

/* ******************************************************************************************************************** */
/* ***************** animations ***************** */
@-webkit-keyframes behind-to-front-left-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  50% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  75% {
    transform: translate(-20%) rotate(90deg);
    z-index: 0; }
  100% {
    transform: translate(0) rotate(0);
    z-index: 0; } }
@-moz-keyframes behind-to-front-left-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  50% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  75% {
    transform: translate(-20%) rotate(90deg);
    z-index: 0; }
  100% {
    transform: translate(0) rotate(0);
    z-index: 0; } }
@-o-keyframes behind-to-front-left-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  50% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  75% {
    transform: translate(-20%) rotate(90deg);
    z-index: 0; }
  100% {
    transform: translate(0) rotate(0);
    z-index: 0; } }
@keyframes behind-to-front-left-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  50% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  75% {
    transform: translate(-20%) rotate(90deg);
    z-index: 0; }
  100% {
    transform: translate(0) rotate(0);
    z-index: 0; } }
@-webkit-keyframes behind-to-front-right-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  50% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  75% {
    transform: translate(20%) rotate(-90deg);
    z-index: 0; }
  100% {
    transform: translate(0) rotate(0);
    z-index: 0; } }
@-moz-keyframes behind-to-front-right-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  50% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  75% {
    transform: translate(20%) rotate(-90deg);
    z-index: 0; }
  100% {
    transform: translate(0) rotate(0);
    z-index: 0; } }
@-o-keyframes behind-to-front-right-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  50% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  75% {
    transform: translate(20%) rotate(-90deg);
    z-index: 0; }
  100% {
    transform: translate(0) rotate(0);
    z-index: 0; } }
@keyframes behind-to-front-right-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  50% {
    transform: translate(0) rotate(0);
    z-index: -1; }
  75% {
    transform: translate(20%) rotate(-90deg);
    z-index: 0; }
  100% {
    transform: translate(0) rotate(0);
    z-index: 0; } }
@-webkit-keyframes behind-to-front-left-reverse-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  50% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  75% {
    transform: translate(-20%) rotate(90deg);
    z-index: -1; }
  100% {
    transform: translate(0) rotate(0);
    z-index: -1; } }
@-moz-keyframes behind-to-front-left-reverse-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  50% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  75% {
    transform: translate(-20%) rotate(90deg);
    z-index: -1; }
  100% {
    transform: translate(0) rotate(0);
    z-index: -1; } }
@-o-keyframes behind-to-front-left-reverse-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  50% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  75% {
    transform: translate(-20%) rotate(90deg);
    z-index: -1; }
  100% {
    transform: translate(0) rotate(0);
    z-index: -1; } }
@keyframes behind-to-front-left-reverse-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  50% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  75% {
    transform: translate(-20%) rotate(90deg);
    z-index: -1; }
  100% {
    transform: translate(0) rotate(0);
    z-index: -1; } }
@-webkit-keyframes behind-to-front-right-reverse-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  50% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  75% {
    transform: translate(20%) rotate(-90deg);
    z-index: -1; }
  100% {
    transform: translate(0) rotate(0);
    z-index: -1; } }
@-moz-keyframes behind-to-front-right-reverse-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  50% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  75% {
    transform: translate(20%) rotate(-90deg);
    z-index: -1; }
  100% {
    transform: translate(0) rotate(0);
    z-index: -1; } }
@-o-keyframes behind-to-front-right-reverse-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  50% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  75% {
    transform: translate(20%) rotate(-90deg);
    z-index: -1; }
  100% {
    transform: translate(0) rotate(0);
    z-index: -1; } }
@keyframes behind-to-front-right-reverse-animation {
  0% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  50% {
    transform: translate(0) rotate(0);
    z-index: 0; }
  75% {
    transform: translate(20%) rotate(-90deg);
    z-index: -1; }
  100% {
    transform: translate(0) rotate(0);
    z-index: -1; } }
.behind-to-front {
  position: relative;
  z-index: -1; }

.behind-to-front--left {
  transform-origin: 0 0; }

.behind-to-front--right {
  transform-origin: 100% 0; }

.behind-to-front--left-animation {
  -webkit-animation: behind-to-front-left-animation 1s 1 forwards;
  -moz-animation: behind-to-front-left-animation 1s 1 forwards;
  -o-animation: behind-to-front-left-animation 1s 1 forwards;
  animation: behind-to-front-left-animation 1s 1 forwards; }

.behind-to-front--left-reverse-animation {
  -webkit-animation: behind-to-front-left-reverse-animation 1s 1 forwards;
  -moz-animation: behind-to-front-left-reverse-animation 1s 1 forwards;
  -o-animation: behind-to-front-left-reverse-animation 1s 1 forwards;
  animation: behind-to-front-left-reverse-animation 1s 1 forwards; }

.behind-to-front--right-animation {
  -webkit-animation: behind-to-front-right-animation 1s 1 forwards;
  -moz-animation: behind-to-front-right-animation 1s 1 forwards;
  -o-animation: behind-to-front-right-animation 1s 1 forwards;
  animation: behind-to-front-right-animation 1s 1 forwards; }

.behind-to-front--right-reverse-animation {
  -webkit-animation: behind-to-front-right-reverse-animation 1s 1 forwards;
  -moz-animation: behind-to-front-right-reverse-animation 1s 1 forwards;
  -o-animation: behind-to-front-right-reverse-animation 1s 1 forwards;
  animation: behind-to-front-right-reverse-animation 1s 1 forwards; }

/* ***************** bouncing letters ***************** */
.bouncing-letters {
  opacity: 0;
  cursor: default; }

.bouncing-letter {
  display: inline-block;
  position: relative; }

@media screen and (max-width: 767px) {
  .bouncing-letter--space {
    display: table-column; } }

@media screen and (max-width: 767px) {
  .header__title--scrolled .bouncing-letter--space {
    display: inline-block; } }

/* ***************** perspective-text-shadow ***************** */
.perspective-text-shadow {
  position: relative; }

.perspective-text-shadow__shadow1 {
  position: absolute;
  color: #4d4d4d;
  transform: scaleX(0.995) translateY(-1px);
  z-index: -1;
  width: 100%; }

.perspective-text-shadow__shadow2 {
  position: absolute;
  color: #333333;
  transform: scaleX(0.99) translateY(-2px);
  z-index: -1;
  width: 100%; }

.perspective-text-shadow__shadow3 {
  position: absolute;
  color: #1a1a1a;
  transform: scaleX(0.985) translateY(-3px);
  z-index: -1;
  width: 100%; }

.perspective-text-shadow__shadow4 {
  position: absolute;
  color: black;
  transform: scaleX(0.98) translateY(-4px);
  z-index: -1;
  width: 100%; }

.perspective-text-shadow__shadow5 {
  position: absolute;
  color: black;
  transform: scaleX(0.975) translateY(-5px);
  z-index: -1;
  width: 100%; }

.perspective-text-shadow__shadow6 {
  position: absolute;
  color: black;
  transform: scaleX(0.97) translateY(-6px);
  z-index: -1;
  width: 100%; }

/*# sourceMappingURL=main.css.map */
