html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%;
  height: 100%; }

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit; }

/* global styles */
@font-face {
  font-family: "Spectral";
  src: url("../fonts/SpectralSC-Regular.eot");
  src: url("../fonts/SpectralSC-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SpectralSC-Regular.woff") format("woff"), url("../fonts/SpectralSC-Regular.ttf") format("truetype"), url("../fonts/SpectralSC-Regular.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
  font-style: normal;
  font-weight: normal; }
body {
  color: #2F3738;
  font-family: "Lato", Helvetica; }

.box-shadow--default {
  box-shadow: 3px 3px 5px, -3px -3px 3px white; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.centered--lower {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.fixed {
  position: fixed; }

.full-width {
  width: 100%;
  max-width: none; }

.inline {
  display: inline; }

.text-bulge {
  text-shadow: 3px 3px 0px #000, -1px -1px 0px #aaa; }

.opacity0 {
  opacity: 0; }

.viewport-height {
  height: 100vh; }

.width-min-content {
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content; }

.width-max-content {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content; }

/* header */
.header {
  font-family: "Spectral", Helvetica;
  font-weight: bold;
  position: relative; }

.header--colored {
  background: #2F3738; }

.header__title {
  color: #D5FBFF;
  font-size: 80px; }
  @media (max-width: 1199px) {
    .header__title {
      font-size: 66px; } }
  @media (max-width: 991px) {
    .header__title {
      font-size: 55.5px; } }
  @media screen and (max-width: 767px) {
    .header__title {
      font-size: 45px; } }
  @media screen and (max-width: 459px) {
    .header__title {
      font-size: 31px; } }

.header__title--scrolled {
  color: #2F3738;
  font-size: 16px;
  text-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  z-index: 1; }
  @media (max-width: 1199px) {
    .header__title--scrolled {
      font-size: 14.8px; } }
  @media (max-width: 991px) {
    .header__title--scrolled {
      font-size: 13.9px; } }
  @media screen and (max-width: 767px) {
    .header__title--scrolled {
      font-size: 13px; } }
  @media screen and (max-width: 459px) {
    .header__title--scrolled {
      font-size: 11.8px; } }

.header__subtitle {
  color: #D5FBFF;
  font-size: 40px;
  -webkit-transition: opacity 1000ms ease-in;
  -moz-transition: opacity 1000ms ease-in;
  -o-transition: opacity 1000ms ease-in;
  transition: opacity 1000ms ease-in; }
  @media (max-width: 1199px) {
    .header__subtitle {
      font-size: 34px; } }
  @media (max-width: 991px) {
    .header__subtitle {
      font-size: 29.5px; } }
  @media screen and (max-width: 767px) {
    .header__subtitle {
      font-size: 25px; } }
  @media screen and (max-width: 459px) {
    .header__subtitle {
      font-size: 19px; } }

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%; }

.nav--default {
  background: #D5FBFF;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }
  .nav--default ul {
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    margin: 0 0 auto auto; }
  .nav--default li {
    display: inline-block;
    font-size: 20.8px;
    padding: 25px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    cursor: pointer; }
    @media (max-width: 1199px) {
      .nav--default li {
        font-size: 18.64px; } }
    @media (max-width: 991px) {
      .nav--default li {
        font-size: 17.02px; } }
    @media screen and (max-width: 767px) {
      .nav--default li {
        font-size: 15.4px; } }
    @media screen and (max-width: 459px) {
      .nav--default li {
        font-size: 13.24px; } }
    .nav--default li:hover {
      background: #9FBCBF; }

.nav--scrolled {
  box-shadow: 0 1px 10px black;
  opacity: 0.8; }
  .nav--scrolled li {
    font-size: 16px;
    padding: 20px; }
    @media (max-width: 1199px) {
      .nav--scrolled li {
        font-size: 14.8px; } }
    @media (max-width: 991px) {
      .nav--scrolled li {
        font-size: 13.9px; } }
    @media screen and (max-width: 767px) {
      .nav--scrolled li {
        font-size: 13px; } }
    @media screen and (max-width: 459px) {
      .nav--scrolled li {
        font-size: 11.8px; } }

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  position: relative; }

.section {
  width: 80%;
  margin: 0 auto 20px; }

.section__h {
  font-family: "Spectral", Helvetica;
  font-weight: bold;
  margin-top: -7%;
  padding: 0 30px 20px 0;
  font-size: 40px;
  float: left; }
  @media (max-width: 1199px) {
    .section__h {
      font-size: 34px; } }
  @media (max-width: 991px) {
    .section__h {
      font-size: 29.5px; } }
  @media screen and (max-width: 767px) {
    .section__h {
      font-size: 25px; } }
  @media screen and (max-width: 459px) {
    .section__h {
      font-size: 19px; } }

.section__h-fill {
  background: #D5FBFF;
  padding: 40px 60px; }
  @media screen and (max-width: 767px) {
    .section__h-fill {
      padding: 20px 40px; } }

.section__p {
  width: 80%;
  margin: 10% 0 auto auto;
  padding: 3%;
  background: #9FBCBF;
  line-height: 1.5em;
  font-size: 17px; }
  @media (max-width: 1199px) {
    .section__p {
      font-size: 15.6px; } }
  @media (max-width: 991px) {
    .section__p {
      font-size: 14.55px; } }
  @media screen and (max-width: 767px) {
    .section__p {
      font-size: 13.5px; } }
  @media screen and (max-width: 459px) {
    .section__p {
      font-size: 12.1px; } }

/* ******************************************************************************************************************** */
/* ***************** animations ***************** */
@-webkit-keyframes behind-to-front-animation {
  0% {
    transform: translateX(0) rotate(0);
    z-index: -1; }
  50% {
    transform: translateX(0) rotate(0);
    z-index: -1; }
  75% {
    transform: translateX(-100%) rotate(90deg);
    z-index: 0; }
  100% {
    transform: translateX(0) rotate(0);
    z-index: 0; } }
@-moz-keyframes behind-to-front-animation {
  0% {
    transform: translateX(0) rotate(0);
    z-index: -1; }
  50% {
    transform: translateX(0) rotate(0);
    z-index: -1; }
  75% {
    transform: translateX(-100%) rotate(90deg);
    z-index: 0; }
  100% {
    transform: translateX(0) rotate(0);
    z-index: 0; } }
@-o-keyframes behind-to-front-animation {
  0% {
    transform: translateX(0) rotate(0);
    z-index: -1; }
  50% {
    transform: translateX(0) rotate(0);
    z-index: -1; }
  75% {
    transform: translateX(-100%) rotate(90deg);
    z-index: 0; }
  100% {
    transform: translateX(0) rotate(0);
    z-index: 0; } }
@keyframes behind-to-front-animation {
  0% {
    transform: translateX(0) rotate(0);
    z-index: -1; }
  50% {
    transform: translateX(0) rotate(0);
    z-index: -1; }
  75% {
    transform: translateX(-100%) rotate(90deg);
    z-index: 0; }
  100% {
    transform: translateX(0) rotate(0);
    z-index: 0; } }
.behind-to-front {
  position: relative;
  z-index: -1; }

.behind-to-front-animation {
  -webkit-animation: behind-to-front-animation 1s 1 forwards;
  -moz-animation: behind-to-front-animation 1s 1 forwards;
  -o-animation: behind-to-front-animation 1s 1 forwards;
  animation: behind-to-front-animation 1s 1 forwards; }

/* ***************** bouncing letters ***************** */
.bouncing-letters {
  opacity: 0;
  cursor: default; }

.bouncing-letter {
  display: inline-block;
  position: relative; }

@media screen and (max-width: 767px) {
  .bouncing-letter--space {
    display: table-column; } }

@media screen and (max-width: 767px) {
  .header__title--scrolled .bouncing-letter--space {
    display: inline-block; } }

/* ***************** perspective-text-shadow ***************** */
.perspective-text-shadow {
  position: relative; }

.perspective-text-shadow__shadow1 {
  position: absolute;
  color: black;
  transform: scaleX(0.995) translateY(-1px);
  z-index: -1; }

.perspective-text-shadow__shadow2 {
  position: absolute;
  color: black;
  transform: scaleX(0.99) translateY(-2px);
  z-index: -1; }

.perspective-text-shadow__shadow3 {
  position: absolute;
  color: black;
  transform: scaleX(0.985) translateY(-3px);
  z-index: -1; }

.perspective-text-shadow__shadow4 {
  position: absolute;
  color: black;
  transform: scaleX(0.98) translateY(-4px);
  z-index: -1; }

.perspective-text-shadow__shadow5 {
  position: absolute;
  color: black;
  transform: scaleX(0.975) translateY(-5px);
  z-index: -1; }

.perspective-text-shadow__shadow6 {
  position: absolute;
  color: black;
  transform: scaleX(0.97) translateY(-6px);
  z-index: -1; }

/*# sourceMappingURL=main.css.map */
