@import 'reset.scss';
@import 'standard-variables.scss';
@import 'mixins.scss';

// global variables:
$main-color-1: #D5FBFF;
$main-color-2: #9FBCBF;
$main-color-3: #647678;
$main-color-4: #2F3738;
$main-color-5: #59D8E5;
$header-font-name: "Spectral";
$main-font-name: "Lato";
$scrolled-nav-font-size: 16px;
$scrolled-nav-padding: 20px;
$standard-transition: all 300ms ease-out;
$slow-transition: all 1000ms ease-out;


/* global styles */
@include font-face($header-font-name, 'SpectralSC-Regular', '../fonts');
@include font-face($main-font-name, 'Lato-Regular', '../fonts');

body{
	color: $main-color-4;
	font-family: $main-font-name, Helvetica;
}
.box-shadow--default{
	box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
}
.box-shadow--emboss{
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5), -3px -3px 2px rgba(255, 255, 255, 0.5);
}
.box-shadow--cover{
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -1px -1px 3px rgba(0,0,0, 0.6),  -2px -2px 2px rgba(255, 255, 255, 0.8)
}
.centered{
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%,-50%));
	text-align: center;
}
.centered--lower{
	position: absolute;
	top: 75%;
	left: 50%;
	@include transform(translate(-50%,-50%));
}
.fixed{
	position: fixed;
}
.full-width{
	width: 100%;
	max-width: none;
}
.inline{
	display: inline;
}
.text-bulge{
	text-shadow: 3px 3px 0px #000, -1px -1px 0px #aaa;
}
.opacity0{
	opacity: 0;
}
.viewport-height{
	height: 100vh;
}
.width-min-content{
	@include width-min-content;
}
.width-max-content{
	@include width-max-content;
}



/* header */
.header{
	font-family: $header-font-name, Helvetica;
	font-weight: bold;
	position: relative;
}
.header--colored{
	background: $main-color-4;
}
.header__title{
	color: $main-color-1;
	@include font-size(80px);
}
.header__title--scrolled{
	color: $main-color-4;
	@include font-size($scrolled-nav-font-size);
	text-shadow: none;
	position: fixed;
	top: 0;
	left: 0;
	padding: $scrolled-nav-padding;
	@include transition($standard-transition);
	z-index: 1;
}
.header__subtitle{
	color: $main-color-1;
	@include font-size(40px);
	@include transition(opacity 1000ms ease-in);
}
.nav{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
}
.nav--default{
	background: $main-color-1;
	@include transition($standard-transition);
	ul{
		@include width-max-content;
		margin: 0 0 auto auto;
	}
	li{
		display: inline-block;
		@include font-size($scrolled-nav-font-size * 1.3);
		padding: 25px;
		@include transition($standard-transition);
		cursor: pointer;
		&:hover{
			background: $main-color-2;
		}
	}
}
.nav--scrolled{
	box-shadow: 0 1px 10px black;
	opacity: 0.8;
	li{
		@include font-size($scrolled-nav-font-size);
		padding: $scrolled-nav-padding;
	}
}
.main{
	@include standard-div-width;
	position: relative;
}
.section{
	width: 80%;
	margin: 0 auto 15%;
	&:last-of-type{
		margin-bottom: 40px;
	}
}
.section__h{
	font-family: $header-font-name, Helvetica;
	font-weight: bold;
	margin-top: -7%;
    padding: 0 30px 20px 0;
	@include font-size(40px);
    float: left;
}
.section__h--reversed{
    padding: 0 0 20px 30px;
    float: right;
}
.section__h-fill{
	background: $main-color-1;
	padding: 40px 60px;
	@include media-xs{
		padding: 20px 40px;
	}
}
.section__p{
	width: 80%;
	margin: 10% 0 auto auto;
	padding: 3%;
	background: $main-color-2;
	line-height: 1.5em;
	@include font-size(17px);
}
.section__p--reversed{
	margin: 10% auto auto 0;
}

/* ******************************************************************************************************************** */


/* ***************** animations ***************** */
@include keyframes(behind-to-front-left-animation){
	0%		{transform: translateX(0) rotate(0);
			 z-index: -1}
	50%		{transform: translateX(0) rotate(0);
			 z-index: -1}
	75%		{transform: translateX(-100%) rotate(90deg);
			 z-index: 0}
	100%	{transform: translateX(0) rotate(0);
			 z-index: 0}
}
@include keyframes(behind-to-front-right-animation){
	0%		{transform: translateX(0) rotate(0);
			 z-index: -1}
	50%		{transform: translateX(0) rotate(0);
			 z-index: -1}
	75%		{transform: translateX(100%) rotate(-90deg);
			 z-index: 0}
	100%	{transform: translateX(0) rotate(0);
			 z-index: 0}
}
.behind-to-front{
	position: relative;
	z-index: -1;
}
$sides: left right;
@each $side in $sides{
	.behind-to-front--#{$side}-animation{
		@include animation(behind-to-front-#{$side}-animation)
	}
}


/* ***************** bouncing letters ***************** */
.bouncing-letters{
	// border-bottom: 2px solid black;
	opacity: 0;
	cursor: default;
}
.bouncing-letter{
	display: inline-block;
	position: relative;
}
.bouncing-letter--space{
	@include media-xs{
		display: table-column;
	}
}
.header__title--scrolled{
	.bouncing-letter--space{
		@include media-xs{
			display: inline-block;
		}
	}
}

/* ***************** perspective-text-shadow ***************** */
.perspective-text-shadow{
	position: relative;
}
@for $i from 1 through 6 {
	.perspective-text-shadow__shadow#{$i}{
		position: absolute;
		// color: #0f1f21;
		color: black;
		transform: scaleX(1 - $i * 0.005) translateY(- $i * 1px);
		z-index: -1;
	}
}

