html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%;
  height: 100%; }

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit; }

/* global styles */
@font-face {
  font-family: "Spectral";
  src: url("../fonts/SpectralSC-ExtraBold.eot");
  src: url("../fonts/SpectralSC-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SpectralSC-ExtraBold.woff") format("woff"), url("../fonts/SpectralSC-ExtraBold.ttf") format("truetype"), url("../fonts/SpectralSC-ExtraBold.svg#08bb4ba465a902745fc23c83a5d9fdc2") format("svg");
  font-style: normal;
  font-weight: normal; }
body {
  color: #2F3738;
  font-family: "Spectral", Helvetica; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.centered--lower {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.width-min-content {
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content; }

.width-max-content {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content; }

.inline {
  display: inline; }

.full-window {
  height: 100vh; }

.fixed {
  position: fixed; }

.text-bulge {
  text-shadow: 3px 3px 0px #000, -1px -1px 0px #aaa; }

.opacity0 {
  opacity: 0; }

/* header */
.header, .main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  position: relative; }

.header--full-window {
  height: 100vh;
  background: #2F3738; }

.header__title {
  color: #D5FBFF;
  font-size: 500%;
  font-size: 10vmin; }

.header__title--scrolled {
  color: #2F3738;
  font-size: 100%;
  text-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  z-index: 1; }

.header__subtitle {
  color: #D5FBFF;
  font-size: 250%;
  font-size: 5vmin;
  -webkit-transition: all 1000ms ease-in;
  -moz-transition: all 1000ms ease-in;
  -o-transition: all 1000ms ease-in;
  transition: all 1000ms ease-in; }

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%; }

.nav--default {
  background: #D5FBFF;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }
  .nav--default ul {
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    margin: 0 0 auto auto; }
  .nav--default li {
    display: inline-block;
    font-size: 130%;
    padding: 25px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    cursor: pointer; }
    .nav--default li:hover {
      background: #9FBCBF; }

.nav--scrolled {
  box-shadow: 0 1px 10px black;
  opacity: 0.8; }
  .nav--scrolled li {
    font-size: 100%;
    padding: 20px; }

/* ***************** bouncing letters ***************** */
.bouncing-letters {
  opacity: 0;
  cursor: default; }

.bouncing-letter {
  display: inline-block;
  position: relative; }

/* ***************** perspective-text-shadow ***************** */
.perspective-text-shadow {
  position: relative; }

.perspective-text-shadow__shadow1 {
  position: absolute;
  color: black;
  transform: scaleX(0.995) translateY(-1px);
  z-index: -1; }

.perspective-text-shadow__shadow2 {
  position: absolute;
  color: black;
  transform: scaleX(0.99) translateY(-2px);
  z-index: -1; }

.perspective-text-shadow__shadow3 {
  position: absolute;
  color: black;
  transform: scaleX(0.985) translateY(-3px);
  z-index: -1; }

.perspective-text-shadow__shadow4 {
  position: absolute;
  color: black;
  transform: scaleX(0.98) translateY(-4px);
  z-index: -1; }

.perspective-text-shadow__shadow5 {
  position: absolute;
  color: black;
  transform: scaleX(0.975) translateY(-5px);
  z-index: -1; }

.perspective-text-shadow__shadow6 {
  position: absolute;
  color: black;
  transform: scaleX(0.97) translateY(-6px);
  z-index: -1; }

/*# sourceMappingURL=main.css.map */
