@import 'reset.scss';
@import 'standard-variables.scss';
@import 'mixins.scss';

// global variables:
$main-color-1: #D5FBFF;
$main-color-2: #9FBCBF;
$main-color-3: #647678;
$main-color-4: #2F3738;
$main-color-5: #59D8E5;
$main-font-name: "Spectral";
$scrolled-nav-font-size: 100%;
$scrolled-nav-padding: 20px;
$standard-transition: all 300ms ease-out;
$slow-transition: all 1000ms ease-in;


/* global styles */
@include font-face($main-font-name, 'SpectralSC-ExtraBold', '../fonts');

body{
	color: $main-color-4;
	font-family: $main-font-name, Helvetica;
}
.centered{
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%,-50%));
}
.centered--lower{
	position: absolute;
	top: 75%;
	left: 50%;
	@include transform(translate(-50%,-50%));
}
.width-min-content{
	@include width-min-content;
}
.width-max-content{
	@include width-max-content;
}
.inline{
	display: inline;
}
.full-window{
	height: 100vh;
}
.fixed{
	position: fixed;
}
.text-bulge{
	text-shadow: 3px 3px 0px #000, -1px -1px 0px #aaa;
}
.opacity0{
	opacity: 0;
}


/* header */
.header, .main{
	@include standard-div-width;
	position: relative;
}
.header--full-window{
	height: 100vh;
	background: $main-color-4;
}
.header__title{
	color: $main-color-1;
	font-size: 500%;
	font-size: 10vmin;
}
.header__title--scrolled{
	color: $main-color-4;
	font-size: $scrolled-nav-font-size;
	text-shadow: none;
	position: fixed;
	top: 0;
	left: 0;
	padding: $scrolled-nav-padding;
	@include transition($standard-transition);
	z-index: 1;
}
.header__subtitle{
	color: $main-color-1;
	font-size: 250%;
	font-size: 5vmin;
	@include transition($slow-transition);
}
.nav{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
}
.nav--default{
	background: $main-color-1;
	@include transition($standard-transition);
	ul{
		@include width-max-content;
		margin: 0 0 auto auto;
	}
	li{
		display: inline-block;
		font-size: 130%;
		padding: 25px;
		@include transition($standard-transition);
		cursor: pointer;
		&:hover{
			background: $main-color-2;
		}
	}
}
.nav--scrolled{
	box-shadow: 0 1px 10px black;
	opacity: 0.8;
	li{
		font-size: $scrolled-nav-font-size;
		padding: $scrolled-nav-padding;
	}
}


/* ***************** bouncing letters ***************** */
.bouncing-letters{
	// border-bottom: 2px solid black;
	opacity: 0;
	cursor: default;
}
.bouncing-letter{
	display: inline-block;
	position: relative;
}

/* ***************** perspective-text-shadow ***************** */
.perspective-text-shadow{
	position: relative;
}
@for $i from 1 through 6 {
	.perspective-text-shadow__shadow#{$i}{
		position: absolute;
		// color: #0f1f21;
		color: black;
		transform: scaleX(1 - $i * 0.005) translateY(- $i * 1px);
		z-index: -1;
	}
}

