// media queries:
@mixin media-md{
	@media (max-width: 1199px){
		@content;
	}
}
@mixin media-sm{
	@media (max-width: 991px){
		@content;
	}
}
@mixin media-xs{
	@media screen and (max-width: 767px){
		@content;
	}
}
@mixin media-xxs{
	@media screen and (max-width: 459px){
		@content;
	}
}
@mixin media-gt-xs{
	@media screen and (min-width: 768px){
		@content;
	}
}
@mixin font-size($size: 14px, $min-size: 12px){
	font-size: $size;
	@include media-md{
		font-size: $min-size + ($size - $min-size) * 0.75;
	}
	@include media-sm{
		font-size: $min-size + ($size - $min-size) * 0.5;
	}
	@include media-xs{
		font-size: $min-size + ($size - $min-size) * 0.25;
	}
	@include media-xxs{
		font-size: $min-size + ($size - $min-size) * 0;
	}
}

@mixin text-3d-light($color: #fff, $size: 1, $left: 0){
	text-shadow:
		1px * $left * $size 1px * $size 0 darken($color, 20%),
		2px * $left * $size 2px * $size 0 darken($color, 21.2%),
		3px * $left * $size 3px * $size 0 darken($color, 26.7%),
		4px * $left * $size 4px * $size 0 darken($color, 27.5%),
		5px * $left * $size 5px * $size 0 darken($color, 33.3%),
		6px * $left * $size 6px * $size 1px * $size rgba(0,0,0,.1),
		0 0 5px * $size rgba(0,0,0,.1), 
		1px * $left * $size 1px * $size 3px * $size rgba(0,0,0,.3),
		3px * $left * $size 3px * $size 5px * $size rgba(0,0,0,.2), 
		5px * $left * $size 5px * $size 10px * $size rgba(0,0,0,.25),
		10px * $left * $size 10px * $size 10px * $size rgba(0,0,0,.2), 
		20px * $left * $size 20px * $size 20px * $size rgba(0,0,0,.15);
}
@mixin box-3d-light($color: #fff, $size: 1, $left: 0){
	box-shadow:
		1px * $left * $size 1px * $size 0 darken($color, 20%),
		2px * $left * $size 2px * $size 0 darken($color, 21.2%),
		3px * $left * $size 3px * $size 0 darken($color, 26.7%),
		4px * $left * $size 4px * $size 0 darken($color, 27.5%),
		5px * $left * $size 5px * $size 0 darken($color, 33.3%),
		6px * $left * $size 6px * $size 1px * $size rgba(0,0,0,.1),
		0 0 5px * $size rgba(0,0,0,.1), 
		1px * $left * $size 1px * $size 3px * $size rgba(0,0,0,.3),
		3px * $left * $size 3px * $size 5px * $size rgba(0,0,0,.2), 
		5px * $left * $size 5px * $size 10px * $size rgba(0,0,0,.25),
		10px * $left * $size 10px * $size 10px * $size rgba(0,0,0,.2), 
		20px * $left * $size 20px * $size 20px * $size rgba(0,0,0,.15);
}

@mixin centered-width($width: 100%, $maxwidth: none){
	margin: 0 auto;
	width: $width;
	max-width: $maxwidth;
}
@mixin display-flex($align-items: unset, $justify-content: space-between){
	display: -webkit-flex;
	display: flex;
	align-items: $align-items;
	flex-wrap: nowrap;
	-webkit-justify-content: $justify-content;
	-moz-justify-content: $justify-content;
	-o-justify-content: $justify-content;
	justify-content: $justify-content;
}
@mixin justify-content($value){
	-webkit-justify-content: $value;
	-moz-justify-content: $value;
	-o-justify-content: $value;
	justify-content: $value;
}
@mixin transition($value: all 500ms ease-out){
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
	transition: $value;
}
@mixin transform($value){
	-webkit-transform: $value;
	-moz-transform: $value;
	-o-transform: $value;
	transform: $value;
}
@mixin keyframes($keyframeName){
	@-webkit-keyframes #{$keyframeName} {
		@content;
	};
	@-moz-keyframes #{$keyframeName} {
		@content;
	};
	@-o-keyframes #{$keyframeName} {
		@content;
	};
	@keyframes #{$keyframeName} {
		@content;
	};
}
@mixin animation($name, $time: 1s, $howmany: 1, $state: forwards){
	-webkit-animation: $name $time $howmany $state;
	-moz-animation: $name $time $howmany $state;
	-o-animation: $name $time $howmany $state;
	animation: $name $time $howmany $state;
}

@mixin linear-gradient($dir, $from, $to){
	background: $from; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient($dir, $from , $to); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($dir, $from, $to); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($dir, $from, $to); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to $dir, $from , $to); /* Standard syntax */
}
@mixin radial-gradient($from, $to) {
	background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: radial-gradient(center, circle cover, $from 0%, $to 100%);
	background-color: $from;
}

@mixin width-min-content{
	width: -moz-min-content;
	width: -webkit-min-content;
	width: min-content;
}
@mixin width-max-content{
	width: -moz-max-content;
	width: -webkit-max-content;
	width: max-content;
}

@mixin font-face($family, $filename, $folder, $style: normal, $weight: normal){
	@font-face{
		font-family: $family;
		src: url('#{$folder}/#{$filename}.eot'); // IE9 compat
		src: url('#{$folder}/#{$filename}.eot?#iefix') format("embedded-opentype"), // IE8 and below
			url('#{$folder}/#{$filename}.woff') format("woff"), // standards
			url('#{$folder}/#{$filename}.ttf') format("truetype"), // Safari, Android, iOS
			url('#{$folder}/#{$filename}.svg#08bb4ba465a902745fc23c83a5d9fdc2') format("svg"); // legacy iOS

		font-style: $style;
		font-weight: $weight;
	}
}

